@model List<UltimoLanzamiento>

@{
    ViewData["Title"] = "Películas 2022";
}

<div class="text-center">
    <h1 class="display-4">Peliculas 2022</h1>
</div>
<div class="text-left">
    <h2>Ultimos lanzamientos</h2>
    <span></span>
    <p></p>
</div>
<span></span>
<span></span>

@* <div class= "text-left">
    <ol>
    @foreach (var peli in Model)
    {
        <li>@peli.Nombre, Dureación: @peli.Duración minutos</li>
    }
</ol>
</div> *@

@*--------- TABLA ---------------------------*@
<div class="text-center">
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col" class="">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de lanzamiento</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var ult in Model)
        {
          <tr>
              <td>@ult.ID</td>
              <td>@ult.Nombre</td>
              <td>@ult.FechaLanzamiento</td>
          </tr>
        }
</tbody>
</table>
</div>
